*{
  margin: 0;
  padding:0;
  }

  .sidebar{
    float: left;
    background-color: pink;
    width: 100px;
    height: 378px;

  }
  .verticalLine {
    border-left: thick solid #B8DCF5;
    height: 378px;
    width: 10px
  }


.column-2{
  float: right;
  width: 500px;
  height: 685px;
}


.ricebean{
  display: block;
  width: 782px;
  height: 378px;
  background-color: #6CBFEE;
  color: white;
  padding-left: 40px;
  padding-top: 47px;
  padding-right: 38px;
  padding-bottom: 64px;
  margin-bottom: 20px;
  border-radius: 5px;

  }
  .greens{
    display: block;
    width: 782px;
    height: 118;
    background-color: #3594CB;
    color: white;
    padding-left: 40px;
    padding-top: 47px;
    padding-right: 38px;
    padding-bottom: 64px;
    margin-bottom: 20px;
    border-radius: 5px;
    }
